{% block body %}

    {{ form_start(form) }}
    <div class="custom-control custom-switch">
        <h2>{{ form_label(form.name, 'Gitlab ID') }}</h2>
        {{ form_widget(form.gitLabId,{'attr': {'class': "input-group-text"}}) }}
        <h2>{{ form_label(form.name, 'Name') }}</h2>
{{ form_widget(form.name,{'attr': {'class': "input-group-text"}}) }}
        {{ form_widget(form)}}


    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}