{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <nav class="navbar">
        <a href="{{ path('dashboard') }}">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
        <a class="btn btn-link" href="{{ path('projects_index') }}">Project</a>
        <a class="btn btn-link" href="{{ path('team_index') }}">Team</a>
        <a class="btn btn-link" href="{{ path('users_index') }}">users</a>
    </nav>
    <style>
        h1{
            color: #8959A8;
        }
        input[type=text] {
            background-color: #8959A8;
            color: white;
        }
        input{
            background-color: #c36b1e;
            color: white;
        }
        input[type=checkbox] + label {
            display: block;
            margin: 0.2em;
            cursor: pointer;
            padding: 0.2em;
        }

        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label:before {
            content: "";
            border: 0.1em solid #000;
            border-radius: 0.2em;
            display: inline-block;
            width: 1em;
            height: 1em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: #8959A8;
            border-color: #c36b1e;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #8959A8;
            border-color: #c36b1e;
        }

    </style>
    <style>
        body{
            background-color: white;
        }
        div.imgHeader{
            background-color: #653484;
        }
        img{
            width: 60px;
            height: auto;
        }</style>
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GitLabId</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.gitLabId }}</td>
                <td>{{ project.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('projects_show', {'gitLabId': project.gitLabId}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('projects_edit', {'gitLabId': project.gitLabId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('projects_new') }}">Create new</a>
{% endblock %}
