{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1>{{ project.name }}</h1>
        </div>
    </div>

<h1>Projects</h1>

<table class="table">
    <tbody>
    <tr>
        <th>GitLabId</th>
        <th>Name</th>
    </tr>
    <tr>

        <td>{{ project.gitLabId }}</td>
        <td>{{ project.name }}</td>
    </tr>
    </tbody>
</table>

<a class="btn btn-link" href="{{ path('projects_index') }}">back to list</a>
<a class="btn btn-primary" href="{{ path('projects_edit', {'gitLabId': project.gitLabId}) }}">edit</a>

{{ include('projects/_delete_form.html.twig') }}
    <h1>Merge Request</h1>

    <table class="table">

        <thead>
        <tr>
            <th>Project id</th>
            <th>Id</th>
            <th>Title</th>
            <th>State</th>
            <th>Description</th>
            <th>Date</th>
            <th>Author</th>
            <th>Avatar</th>
            <th>Up</th>
            <th>Down</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.project_id }}</td>
                <td>{{ request.id }}</td>
                <td>{{ request.title }}</td>
                <td>{{ request.state }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.created_at | date('d/m/Y H:i')}}</td>
                <td>{{ request.author.name }}</td>
                <td><img src="{{ request.author.avatar_url }}"></td>
                <td>{{ request.upvotes }}</td>
                <td>{{ request.downvotes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No merge request found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}