{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <div class="imgHeader">
        <a href="https://127.0.0.1:8001/">
            <img src="https://pbs.twimg.com/profile_images/694241544899923968/Yj5sO9P4_400x400.png" alt="logo gitlab">
        </a>
    </div>
    <style>
        div.imgHeader{
            background-color: #653484;
        }
        img{
            width: 60px;
            height: auto;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
        html{
            background-color: #ffffff;
        }
        header{
            background-color: #2c2c2c;
        }
        tr:nth-child(even) {background-color: #653484; color: white}

    </style>
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AvatarPath</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.avatarPath }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">Create new</a>
{% endblock %}
