{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <nav class="navbar">
        <a href="{{ path('dashboard') }}">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
        <a class="btn btn-link" href="{{ path('projects_index') }}">Project</a>
        <a class="btn btn-link" href="{{ path('team_index') }}">Team</a>
        <a class="btn btn-link" href="{{ path('users_index') }}">users</a>
    </nav>
    <h1>Create new Team</h1>

    {{ include('team/_form.html.twig') }}

    <a class="btn btn-link" href="{{ path('team_index') }}">back to list</a>
{% endblock %}
