{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

    <h1>Team</h1>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AvatarPath</th>
            </tr>
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.avatarPath }}</td>
            </tr>
            </tbody>
        </table>
        <div class="team-project" style="display: flex; flex-direction: row; justify-content: space-between">
            <div>
                <a class="btn btn-primary" href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                <a class="btn btn-link" href="{{ path('team_index') }}">back to list</a>
            </div>
<div>
    {{ include('team/_delete_form.html.twig') }}
</div>

        </div>
    </div>
    <hr>
    <div>
        <h3>Projet attribués</h3>
        {% for  project in  team.projects %}
            <div class="team-project" style="display: flex; flex-direction: row; ">
                <span style="margin: 1rem">{{ project.name }}</span>
                <a class="btn btn-primary" style="margin: 1rem"
                   href="{{ path('projects_edit', {'gitLabId': project.gitLabId}) }}">edit</a>
            </div>

        {% else %}
            <div class="team-project" style="display: flex; flex-direction: row; ">
                <span style="margin: 1rem">Aucun</span>
                <a class="btn btn-primary" style="margin: 1rem" href="{{ path('projects_index') }}">edit</a>
            </div>
        {% endfor %}
        <hr>
        <h3>Merge Request</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
                <th>Up</th>
                <th>Down</th>
            </tr>
            </thead>
            <tbody>
            {% for  requests in  gitLabIds %}

                {{ include('projects/mergeRequestOneProject.html.twig', {'requests': requests}) }}
            {% else %}
                <div class="team-project" style="display: flex; flex-direction: row; ">
                    <span style="margin: 1rem">Aucune merge request</span>
                    <a class="btn btn-primary" style="margin: 1rem" href="{{ path('projects_index') }}">edit</a>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}