{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1>Team {{ team.name }}</h1>
            <p> {{ include('team/_delete_form.html.twig') }} </p>
        </div>
    </div>

    <div class="container" style="">
        <h3>Membres de l'équipe</h3>
        <div class="row">
        {% for user in users %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        <a href="./users/{{ user.id }}" class="btn btn-primary">Détails du membre</a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Aucun membre dans l'équipe, ajoutez-en !
                </div>
        {% endfor %}
        </div>

        <h3>Projets attribués</h3>

        <div class="row">
            {% for project in team.projects %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <a href="projects/{{ project.gitLabId }}/mergeRequests" class="btn btn-primary">Détails du projet</a>
                            <a href="{{ path('projects_edit', {'gitLabId': project.gitLabId}) }}"class="btn btn-primary">Modifier</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Aucun projet attribué à votre équipe !
                </div>
            {% endfor %}
        </div>
        <h3>Merge Request</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
                <th>Up</th>
                <th>Down</th>
            </tr>
            </thead>
            <tbody>
            {% for  requests in  gitLabIds %}

                {{ include('projects/mergeRequestOneProject.html.twig', {'requests': requests}) }}
            {% else %}
                <div class="team-project" style="display: flex; flex-direction: row; ">
                    <span style="margin: 1rem">Aucune merge request</span>
                    <a class="btn btn-primary" style="margin: 1rem" href="{{ path('projects_index') }}">edit</a>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}