{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <style>
        body{
            background-color: white;
        }
        div.imgHeader{
            background-color: #653484;
        }
        img{
            width: 60px;
            height: auto;
        }
    </style>
    <h1>Team</h1>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AvatarPath</th>
            </tr>
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.avatarPath }}</td>
            </tr>
            </tbody>
        </table>
        <div class="team-project" style="display: flex; flex-direction: row; ">
            <a style="margin: 1rem" href="{{ path('team_index') }}">back to list</a>
            <a style="margin: 1rem" href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
        </div>
    </div>
    {{ include('team/_delete_form.html.twig') }}
    <div>
        <h3>Projet attribués</h3>
        {% for  project in  team.projects %}
            <div class="team-project" style="display: flex; flex-direction: row; ">
                <span style="margin: 1rem">{{ project.name }}</span>
                <a style="margin: 1rem" href="{{ path('projects_edit', {'gitLabId': project.gitLabId}) }}">edit</a>
            </div>

        {% else %}
            <div class="team-project" style="display: flex; flex-direction: row; ">
                <span style="margin: 1rem">Aucun</span>
                <a style="margin: 1rem" href="{{ path('projects_index') }}">edit</a>
            </div>
        {% endfor %}

        <h3>Membres de l'équipe</h3>
        {% for user in users %}
        <p>{{ user.name }}</p>
        {% endfor %}

        <h3>Merge Request</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
                <th>Up</th>
                <th>Down</th>
            </tr>
            </thead>
            {% for  requests in  gitLabIds %}

                {{ include('projects/mergeRequestOneProject.html.twig', {'requests': requests}) }}
            {% else %}
                <div class="team-project" style="display: flex; flex-direction: row; ">
                    <span style="margin: 1rem">Aucune merge request</span>
                    <a style="margin: 1rem" href="{{ path('projects_index') }}">edit</a>
                </div>
            {% endfor %}
        </table>
    </div>
{% endblock %}