{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>#BalanceTonMR</h1>
        </div>
    </div>


    <div class="container">
        <h2>Liste des équipes</h2>
     <div class="container">
       <div class="row">
        {% for team in teams %}
            <div class="col-sm-6">
        <div class="card" style="width: 20rem;">
            <img src="./assets/img/{{ team.avatarPath }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ team.name }}</h5>
                <a href="./team/{{ team.id }}" class="btn btn-primary">Détails de l'équipe</a>
                <a href="./team/{{ team.id }}/edit" class="btn btn-primary">Editer</a>
            </div>
        </div>
        </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Aucune équipe trouvée !
                </div>
        {% endfor %}
    </div>
    </div>
    </div>

    <div class="container">
        <h2>Liste des projets</h2>
     <div class="container">
       <div class="row">
        {% for project in projects %}
            <div class="col-sm-6">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <a href="./projects/{{ project.gitLabId }}/mergerequests" class="btn btn-primary">Détails du projet</a>
                <a href="./projects/{{ project.gitLabId }}/edit" class="btn btn-primary">Editer</a>
            </div>
        </div>
        </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Aucune équipe trouvée !
                </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}