{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <nav class="navbar">
        <a href="{{ path('dashboard') }}">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
        <a class="btn btn-link" href="{{ path('projects_index') }}">Project</a>
        <a class="btn btn-link" href="{{ path('team_index') }}">Team</a>
        <a class="btn btn-link" href="{{ path('users_index') }}">users</a>
    </nav>
    <style>
        h1{
            color: #8959A8;
        }
        input[type=text] {
            background-color: #8959A8;
            color: white;
        }
        input{
            background-color: #c36b1e;
            color: white;
        }
        input[type=checkbox] + label {
            display: block;
            margin: 0.2em;
            cursor: pointer;
            padding: 0.2em;
        }

        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label:before {
            content: "";
            border: 0.1em solid #000;
            border-radius: 0.2em;
            display: inline-block;
            width: 1em;
            height: 1em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: #8959A8;
            border-color: #c36b1e;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #8959A8;
            border-color: #c36b1e;
        }

    </style>
    <h1>Edit Users</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-link" href="{{ path('users_index') }}">back to list</a>

    {{ include('users/_delete_form.html.twig') }}

    <h1>Team index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.project ? team.project|join(', ') : '' }}</td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
