{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <div class="imgHeader">
        <a href="https://127.0.0.1:8001/">
            <img src="https://pbs.twimg.com/profile_images/694241544899923968/Yj5sO9P4_400x400.png" alt="logo gitlab">
        </a>
    </div>
    <style>
        div.imgHeader{
            background-color: #653484;
        }
        img{
            width: 60px;
            height: auto;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
        html{
            background-color: #ffffff;
        }
        header{
            background-color: #2c2c2c;
        }
        tr:nth-child(even) {background-color: #653484; color: white}

    </style>
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
