{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <nav class="navbar">
        <a href="{{ path('dashboard') }}">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
        <a class="btn btn-link" href="{{ path('projects_index') }}">Project</a>
        <a class="btn btn-link" href="{{ path('team_index') }}">Team</a>
        <a class="btn btn-link" href="{{ path('users_index') }}">users</a>
    </nav>
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('users_new') }}">Create new</a>
{% endblock %}
