{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Liste des utilisateurs</h1>
            <a class="btn btn-success" href="{{ path('users_new') }}">Créer un nouvel utilisateur</a>
        </div>
    </div>

    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
